<section class="content">

    <article>
        <h2>Тема чего-то</h2>
        <div>
            <p>Текст рыбы найти и вставить</p>
        </div>
    </article>
    <article>
        <h2>Тема чего-то</h2>
        <div>
            <p>Текст рыбы найти и вставить</p>
        </div>
    </article><article>
        <h2>Тема чего-то</h2>
        <div>
            <p>Текст рыбы найти и вставить</p>
        </div>
    </article>
</section>