<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог товарища Штирлица</title>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/main.js" type="text/javascript"></script>
</head>
<body>
<header>
    <h1>Это мой тайный блог!?</h1>
    <div>
        <p>Шапка сайта</p>
    </div>
</header>
